[submodule "frontend"]
	path = frontend
	url = https://github.com/mahesh-pohekar/Motor-Servicing-at-Home-Frontend
[submodule "backend"]
	path = backend
	url = https://github.com/mahesh-pohekar/Motor-Servicing-at-Home-Backend
